
<%+ extend('layouts/template') %>

<%+ section('content') %>
 <a id="submit-login" href="/admin/kategori" class="easyui-linkbutton" >back</a>

<form id="form-login" method="post" style="padding: 20px;" action="/admin/kategori/edit/<%=data[0].id%>">
            <div class="form-item">
                <label for="username">Nama</label> 
                <br />
                <input type="text" name="nama" value="<%=data[0].nama%>"
                class="easyui-validatebox" style="width: 50%" />
            </div>
            <div class="form-item">
                <br />
                <input type="submit" id="submit-login" 
                name="submit" value="Save" class="easyui-linkbutton" iconCls="icon-ok">
            </div>
</form>


<%+ endSection %>