
<%+ extend('layouts/template') %>

<%+ section('content') %>
 <a id="submit-login" href="/admin/departemen" class="easyui-linkbutton" >back</a>

<form id="form-login" method="post" style="padding: 20px;" action="/admin/departemen/edit/<%=data[0].id%>">
            <div class="form-item">
                <label for="username">Name</label> 
                <br />
                <input type="text" name="name" value="<%=data[0].name%>"
                class="easyui-validatebox" style="width: 50%" />
            </div>
            <div class="form-item">
                <label for="password">Desc</label> 
                <br />
                 <input class="easyui-textbox" label="Description:" 
                 labelPosition="top" multiline="true" name="desc" value="<%=data[0].desc%>"
                 style="width:100%;height:120px">

                </div>
            <div class="form-item">
                <br />
                <input type="submit" id="submit-login" 
                name="submit" value="Save" class="easyui-linkbutton" iconCls="icon-ok">
            </div>
</form>


<%+ endSection %>