<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>::SYSTEM::</title>
    <link rel="stylesheet" href="/easyui/themes/default/easyui.css" />
    <link rel="stylesheet" href="/easyui/themes/icon.css" />
    <script type="text/javascript" src="/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
    <style type="text/css">
        .fill
        {
            background-color: #DFE8F6;
        }
        .kanan
        {
            text-align:right;
        }
        body
        {
            margin: 0;
            padding: 0;
            color: #555;
            font: normal 10pt Arial,Helvetica,sans-serif;
            background: #DFE8F6;
        }
        .header-view
        {
            padding-left: 10px;
            color: #555;
        }
    </style>
</head>
    <script type="text/javascript">
        function startTime() {
            var today = new Date()
            var h = today.getHours()
            var m = today.getMinutes()
            var s = today.getSeconds()


            //to add a zero in front of numbers<10

            m = checkTime(m)
            s = checkTime(s)

            document.getElementById('clock').innerHTML = h + ":" + m + ":" + s
            t = setTimeout('startTime()', 500)
        }

        function checkTime(i) {
            if (i < 10)
            { i = "0" + i }
            return i
        }
        window.onload = startTime;
</script>
<head>
    <title></title>
</head>
<body class="easyui-layout">
<!-- west -->
<div region="west" class="fill" border="true" title="Navigation" style="width: 220px" split="true">

</div>
    <p>
        <span id="clock"></span>
    </p>
        <!-- center -->
<div region="center" split="true" title="Main Content" id="content">


     <div class="panel-body panel-body-noheader panel-body-noborder"  style="padding: 5px; ">

        <div style="float:right; padding-top:5px;">

		</div>
        <div>
            <%+ yield('content') %>

        </div>

      </div>
</div>

<!-- south -->
<div region="south" class="fill" style="height: 35px; padding: 5px;" split="true">
Copyright &copy; 2017 
     <div id="clock"></div>
</div>
</body>
</html>
